source ~/.vimrc

let mapleader = "\"
map <leader>zf <Action>(FindInPath)
map <leader>gb <Action>(Annotate)
map <leader>gc <Action>(CheckinProject)
map <leader>gi <Action>(ShowErrorDescription)
map <leader>ft <Action>(ActivateTerminalToolWindow)
map <leader>fn <Action>(Terminal.NewTab)
map <leader>fc <Action>(HideSideWindows)
map <leader>fs <Action>(HideAllWindows)
map <leader>gg <Action>(ActivateStructureToolWindow)
map <leader>ga <Action>(ShowHoverInfo)
map <leader>cf <Action>(CopyPathFromRepositoryRootProvider)
map <C-p> <Action>(GotoFile)
nmap <silent> [g <Action>(GotoPreviousError)
nmap <silent> ]g <Action>(GotoNextError)
nmap gd <Action>(GotoDeclaration)
nmap <leader>bg <Action>(QuickChangeScheme)
nmap <leader>gt <Action>(EditorToggleShowGutterIcons)
nmap <leader>m <Action>(ManageRecentProjects)
" imap <C-y> <Action>(EditorChooseLookupItemReplace)
imap <C-y> <Action>(EditorChooseLookupItem)
" prevent automatic copy to clipboard on selection
set clipboard+=unnamedplus
imap <leader>y <Action>(copilot.applyInlays)

" debugging
nmap <leader>dn <Action>(ToggleLineBreakpoint)
nmap <leader>ds <Action>(Stop)
nmap <leader>di <Action>(Resume)
nmap <leader>de <Action>(EvaluateExpression)
nmap <leader>dw <Action>(ViewBreakpoints)
nmap <C-h> <Action>(Debug)
nmap <C-j> <Action>(StepOver)
nmap <C-k> <Action>(StepInto)
nmap <C-l> <Action>(StepOut)

nnoremap <leader>re :e ~\.ideavimrc<CR>
nnoremap <leader>rs :source ~/.ideavimrc<CR>

"" Copies from vimrc
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'

nnoremap <silent> <leader>no :NERDTreeToggle<CR>
nnoremap <silent> <leader>nh :NERDTreeFocus<CR>
nnoremap <silent> <leader>nf :NERDTreeFind<CR>

" dealing with tabs
nnoremap <silent> <leader>tn :tabnew<CR>
nnoremap <silent> <leader>tc :tabclose<CR>
nnoremap <silent> <leader>td :tab sb<CR>
"close all the tabs on the right
nnoremap <silent> <leader>tr :.+1,$ tabdo :q<CR>
"close all the tabs on the right
nnoremap <silent> <leader>to :tabo<CR>

"normal mode: save
nnoremap <c-s> :w<CR>
"insert mode: escape to normal and save
inoremap <c-s> <Esc>:w<CR>
"visual mode: escape to normal and save
vnoremap <c-s> <Esc>:w<CR>
"select all
map <c-a> ggVG
